<div class="form-container">
  <h2 class="text-white"><%= t("commons.register") %></h2>
  <%= render "form" %>
  <p class="text-white"><%= t("users.new.or").upcase! %></p>
  <%= link_to t("commons.login"), "#", class: "btn btn-primary form-control" %>
</div>
