@import 'variables';
$info: $new-info;
$dark: $new-dark;
$warning: $new-warning;
$primary: $new-primary;
@import "bootstrap/scss/bootstrap";

body {
  margin-top: 80px;
  background: $bg-main;
}

.flash-msg {
  z-index: 1000;
  width: 400px;
  margin: 0 auto;
}
